<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css">
    <link rel="icon" href="/img/download.png" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This page was created by Mike Stott. It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="./img/image.jpeg" />
    </div>
    {{>footer}}
</body>

</html>